body { padding:0; margin:0; color:#372517; background: #372517 url(/classicthemes/images/browned-salmon/bg_ftr_inside_y.jpg) repeat-y scroll center top; }
.inside { width:900px; margin:0 auto; padding:0 14px 0 14px; }
a { color:#D32946; }
a:hover { color:#fff; background-color:#e86076; }
label .hint { color: #4f3a2a; }
div.hr { border-color: #ab998b; }

/* -- header -- */
#header { background:#372517 url(/classicthemes/images/browned-salmon/bg_html.jpg) repeat-x left bottom; }
#header .ring { background:transparent url(/classicthemes/images/browned-salmon/bg_header_y.jpg) repeat-y center top; }
#header .outer { background:transparent url(/classicthemes/images/browned-salmon/bg_header.jpg) no-repeat center bottom; }
#header a { color:#a08977; }
#header a:hover { color: #d4b9a4; background-color: transparent; }

/* -- navigation -- */
#navigation { background:#d52b46 url(/classicthemes/images/browned-salmon/bg_nav.jpg) repeat-x left top; }
#navigation .container { border-top:3px solid #D53952; width:100%; }
#navigation a { color: #ffc5ce; }
#navigation .inside { background:#d52b46 url(/classicthemes/images/browned-salmon/bg_nav_inside.jpg) no-repeat center top; padding-top: 25px; padding-bottom: 25px; }

/* -- content -- */

#main_content { color:#372517; border-top:3px solid #901126; border-bottom:1px solid #a08977; background:#fff url(/classicthemes/images/browned-salmon/bg_content.jpg) repeat-x left top; }
#main_content .inside { width:928px; padding:0; background:transparent url(/classicthemes/images/browned-salmon/bg_cont_inside_y.jpg) repeat-y center top; }
#main_content .inside #liquid { width:900px; margin:0 auto; padding:0 14px 0 14px; background:transparent url(/classicthemes/images/browned-salmon/bg_cont_inside.jpg) no-repeat center top; }
#main_content .inside #liquid .lining { padding: 25px 15px 25px 15px; }

/* -- footer -- */
#footer{ background:#372517 url(/classicthemes/images/browned-salmon/bg_footer.jpg) repeat-x left top; border-top:2px solid #a08977; }
#footer .outside { background:transparent url(/classicthemes/images/browned-salmon/bg_ftr_inside_y.jpg) repeat-y center top; }
#footer .inside { background:transparent url(/classicthemes/images/browned-salmon/bg_ftr_inside.jpg) no-repeat center top; color:#A08977; font-size:80%; overflow:hidden; padding-top: 10px; text-align: center; }
#footer .inside a { color:#A08977; font-weight:bold; text-decoration:none; }
#footer .inside a:hover{ color:#372517; background-color:#e3d4c9; text-decoration:none; }

/* -- Page Objects -- */
#footer .inside .app-name-and-logo-footer a.home-link:hover { background-color:transparent; color:#d4b9a4; }

#main_content .app-header-with-subtitle h1 .title { color:#C12741; }

#main_content .app-classic-grouped-links .link a.link-link,
#main_content .app-classic-grouped-links .link div.link-link,
#main_content .app-classic-recent-listings .listing a.listing-link,
#main_content .app-classic-sortable-listings .listing a.listing-link,
#main_content .app-two-column-listing-grid .listing a.listing-link,
#main_content .app-featured-listings-slider .feature a.feature-link,
#main_content .app-classic-grouped-listing .listing a,
#main_content .app-events-listing .event a { background: transparent url(/classicthemes/images/browned-salmon/listing-box-bg-ie.png) no-repeat bottom right; background /**/: transparent url(/classicthemes/images/browned-salmon/listing-box-bg.png) no-repeat bottom right; }

#main_content .app-classic-grouped-links .link a.link-link:hover,
#main_content .app-classic-recent-listings .listing a.listing-link:hover,
#main_content .app-classic-sortable-listings .listing a.listing-link:hover,
#main_content .app-two-column-listing-grid .listing a.listing-link:hover,
#main_content .app-featured-listings-slider .feature a.feature-link:hover,
#main_content .app-classic-grouped-listing .listing a:hover,
#main_content .app-events-listing .event a:hover { background-image: url(/classicthemes/images/browned-salmon/listing-box-bg-hover-ie.png); background-image /**/: url(/classicthemes/images/browned-salmon/listing-box-bg-hover.png); }

#main_content .app-classic-grouped-links .link div.link-link .name,
#main_content .app-classic-grouped-links .link a .name,
#main_content .app-classic-grouped-links .link a:hover .name,
#main_content .app-classic-recent-listings .listing a .name,
#main_content .app-classic-recent-listings .listing a:hover .name,
#main_content .app-classic-sortable-listings .listing a .name,
#main_content .app-classic-sortable-listings .listing a:hover .name,
#main_content .app-two-column-listing-grid .listing a .name,
#main_content .app-two-column-listing-grid .listing a:hover .name,
#main_content .app-featured-listings-slider .feature a.feature-link .name,
#main_content .app-featured-listings-slider .feature a.feature-link:hover .name,
#main_content .app-classic-grouped-listing .listing a .name,
#main_content .app-classic-grouped-listing .listing a:hover .name,
#main_content .app-events-listing .event a .name,
#main_content .app-events-listing .event a:hover .name { color: #372517; }

#main_content .app-classic-grouped-links .link div.link-link .description,
#main_content .app-classic-grouped-links .link div.link-link .details,
#main_content .app-classic-grouped-links .link a .description,
#main_content .app-classic-grouped-links .link a .details,
#main_content .app-classic-recent-listings .listing a .description,
#main_content .app-classic-sortable-listings .listing a .description,
#main_content .app-two-column-listing-grid .listing a .description,
#main_content .app-featured-listings-slider .feature a.feature-link .description,
#main_content .app-classic-grouped-listing .listing a .description,
#main_content .app-events-listing .event a .description,
#main_content .app-events-listing .event a .details  { color:#725A48; }

