.app-header-with-subtitle {float:left; width:450px;}
.app-big-bold-text-area {float:left; width:450px;}
.app-datetime-range {float:left; width:450px;}
.app-call-to-action {float:left; width:430px; clear:left;padding-top:10px;padding-left:20px;}
.app-mini-slideshow {float:right;}
.app-wysiwyg-area {clear:both; padding-top:10px;}